h1 {
  text-align: center;
  color: azure;
}

body {
    margin: 0; 
    overflow: hidden;
}

canvas {
  display: block;
  border: 10000px solid rgb(10, 0, 49); /* Add this to see the canvas */
}